body {
    color: white;

}

button {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 100%;
    border: 3px solid rgb(173, 143, 229);
    background-color: rgb(228, 190, 228);
    border-radius: 50px;
    font-size: 32px;
    min-width: 80%;

}

button:hover{
    cursor: pointer;
    background-color: darkorchid;
    transform: scale (1.05);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 50px 48px;
    border-radius: 50px 0px 0px 50px;
    background-color: rebeccapurple;
    color: white;

}
.correct {
    background: greenyellow;
}

.incorrect {
    background: crimson ;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 32px;
}

.hud-main-text {
    text-align: center;
}

#progressBar {
    width: 200px;
    height: 40px;
    border: 5px solid white;
    margin-top: 32px;
    border-radius: 50px;
    overflow: hidden;

}

#progressBarFull {

    height: 100%;
    background: rgb(8, 215, 8);
    width: 0%;
}

@media screen and (max-width:768px) {
    .choice-container {
        min-width: 80%;
    }
}