* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../assets/images/2009178.png");
}

h1 {
    font-size: 80px;
    font-family: 'Press Start 2P';
    color: cyan;
    margin-bottom: 100px;


}

h2 {
    font-size: 20px;
    margin-bottom: 85px;

}

.main-box {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 32px;
    text-align: center;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
}

.btn {
    font-size: 32px;
    font-family: 'Press Start 2P';
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: crimson;
    background-color: aliceblue;
    border-radius: 10px;

}

.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px cyan;
    transition: transform 200ms;
    transform: scale(1.05);

}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background-color: yellow;

}

#highscore-btn:hover{
    box-shadow: 5px 5px crimson ;
}

.container {
    border: solid black;
}

.card-timer {}

.timer-text {}

.timer-count {}