* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

    body {
    
    background-color: rgb(2, 1, 7);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 

h1 {
    font-size: 60px;
    font-family: 'Press Start 2P';
    color: turquoise;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;

}

i {
    color: black;
}

h2 {
    font-size: 32px;
    margin-bottom: 85px;

}

.main-box {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80%;
    padding: 40px;
    text-align: center;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
}

.btn {
    font-size: 32px;
    font-family: 'Press Start 2P';
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: none;
    color: crimson;
    background-color: aliceblue;
    border-radius: 10px;

}

.btn:hover {
    cursor: pointer;
    box-shadow: 5px 5px rgb(131, 59, 208);
    transition: transform 200ms;
    transform: scale(1.05);

}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#highscore-btn {
    background-color: yellow;

}

#highscore-btn:hover{
    box-shadow: 5px 5px crimson ;
}

.container {
    border: solid black;
}

.card-timer {}

.timer-text {}

.timer-count {}
